<md-sidenav-container class="container">
  <md-sidenav #sidenav class="sidenav" mode="side">
    <md-toolbar color="primary" class="toolbar">
        <span class="center nav-title" (click)="sidenav.toggle()">Navigation</span>

        <md-toolbar-row class="row nav-item" routerLink="/dashboard" [routerLinkActive]="['active']">    
            <div class="col-6 title">
                <span>Dashboard</span>
            </div>
            <div class="col-6 right">
                <md-icon class="icon">whatshot</md-icon>    
            </div>            
        </md-toolbar-row>

        <md-toolbar-row class="row nav-item" routerLink="/events" [routerLinkActive]="['active']">    
            <div class="col-6 title">
                <span>Events</span>
            </div>
            <div class="col-6 right">
                <md-icon class="icon">schedule</md-icon>    
            </div>            
        </md-toolbar-row>

        <md-toolbar-row class="row nav-item">    
            <div class="col-6 title">
                <span>Products</span>
            </div>
            <div class="col-6 right">
                <md-icon class="icon">shopping cart</md-icon>    
            </div>            
        </md-toolbar-row>

    </md-toolbar>
  </md-sidenav>

  <div class="sidenav-content">
    <!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
    <nav class="nav-navbar">
    <a (click)="sidenav.toggle()" md-button class="nav-button" routerLink="/" aria-label="Angular Material">
    <md-icon class="icon">menu</md-icon>
    </a>
    <a md-button class="nav-button" routerLink="/" aria-label="Angular Material">
        <img class="nav-angular-logo"
            src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
            alt="Angular">
        <span>Angular Webpack</span>
    </a>        
    <a md-button class="nav-button" href="" aria-label="GitHub Repository">
        <img class="nav-github-logo"
            src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"
            alt="GitHub">
        GitHub
    </a>
    </nav>      

    <router-outlet></router-outlet>

  </div>

</md-sidenav-container>